<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- block a  a can't be keywords. endblck a-->
	<title>{% block head %}Thank you for coming! {% endblock head %}</title>
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	{% block css %}
	{% endblock css %}
	{% block js %}
	{% endblock js %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div>
      <div>
         <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
         <span>Toggle navigation</span>
         <span></span>
         <span></span>
         <span></span>
         </button> 
         <span><a href="/">自强学堂</a></span>
      </div>
 
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% for column in nav_display_columns %}
              <li><a href="{{ column.get_absolute_url }}">{{ column.name }}</a></li>
          {% endfor %}
        </ul>
    </div>
</nav>
<div class="row clearfix" style="margin-top:50px;">
    <div>
        {% block content %}
            <h1>自强 新闻网</h1>
        {% endblock content %}
    </div>
</div>
 
    <div class="row clearfix" style="padding-top: 20px;">
      <div>
       <div class="well well-sm">
        <div style="text-align:center;">
         <a href="/aboutus/disclaimer.html">免责声明</a> |
         <a href="/aboutus/index.html">关于我们</a>
        </div> 
        <div>
         自强学堂为非盈利站点，提供的内容仅用于学习和培训，我们不能保证内容一定正确。通过使用本站进行学习随之而来的风险与本站无关。当使用本站时，代表您已接受了本站的使用条款和隐私条款。 版权所有，保留一切权利。自强学堂的所有内容仅供测试，是以学习知识和分享知识为目的，对任何法律问题及风险不承担任何责任。
        </div>
        <div style="padding-top:10px; text-align: center">
          自强学堂是用<a href="https://www.djangoproject.com/" target="_blank" rel="nofollow">Django</a>技术开发的站点，托管在<a href="http://bce.baidu.com/" target="_blank" rel="nofollow">百度开放云</a>平台<br>
 
          Copyright &copy; 2014 Powered by 自强学堂 All Rights Reserved.
         <a href="http://www.miitbeian.gov.cn/" rel="nofollow" target="_blank">吉ICP备13002477号-1</a>
         <p>您是第{{count}}个访问本站的朋友&nbsp;&nbsp;&nbsp;&nbsp;访问时间:{{time}}</p>
        </div>
       </div>
      </div>
    </div>
    <footer>
    	<h1>
    		

		    	</h1>
		    </footer>
	
	
	
	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    {% include "baidutongji.html" %}
</body>
</html>