<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>
</head>
<body>
<h1 id='word'>
Summer is coming to a close,dreaming is over once again.
</h1>

 
</body>
<script type="text/javascript">
window.onload=function(){
	var List= ['Blue','Green','Yellow']                                                                      
    Dict={'name':'BlueBubble','age':'24','sex':'female'}  
	// var List = {{ List }};
    for (i in List)
    {
		alert(List[i])
	}
	document.getElementById('word').onclick=function(){	
		alert('success')
	}

}

</script> 
</html>

